[general]
urlprefix = /
debug = yes
secret = some_secret
max_upload_size = 268435456

[mail]
enabled = yes
server = mail.domain.tld
port = 587
ssl = no
tls = yes
user = user
password = password
from = GrubStack API <api@api.grubstack.app>
debug = no

[logging]
log_to_console = yes
log_to_file = no
log_to_database = yes
log_requests = no
log_min_level = 20
log_format = [%(asctime)s] [%(name)s] [%(levelname)s] [%(module)s/%(funcName)s/%(lineno)d] %(message)s
log_msec_format = %s.%03d

[ratelimit]
enabled = yes
headers_enabled = yes
strategy = fixed-window-elastic-expiry
default_limit = 300 per minute, 10 per second

[caching]
config = { "CACHE_TYPE": "simple" }
